[2015-07-16 10:56] KristerV opened #2 "support for core react"
Hey there. Really want to use Material-UI with the official react package (`meteor add react`), but just can't figure out how to manipulate this package in order for it to work. Let alone making my own package :)

Can you please convert this package or direct me in the right way?

[2015-07-17 02:23] mrphu3074 commented on #2
Yes, i can. `meteor add react` is really new (i think) :)
Let's me create new branch.

Thanks @KristerV

[2015-07-17 07:00] mrphu3074 commented on #2
@KristerV  but there is an issue. We have 2 React instance tyoe in app.
One from mui components use npm React
One from `meteor add react`
So we cannot assign context from parent to childrens(mui components)
ex:

[code]

[code]

do you know how to solve it???

[2015-07-17 07:26] KristerV commented on #2
I'm working on it in [my own repo](https://github.com/KristerV/meteor-material-ui) and discussing this [on the forum](https://forums.meteor.com/t/material-ui-with-react-js). Really want to get this fixed somehow :)

Maybe you can have a look. My repo has a demo app built in, just run meteor in the `demo` folder.

Currently the issue is, that "require" is not defined - even though I'm using browser

[2015-07-17 07:28] KristerV commented on #2
oh, actually. I think maybe the solution to your current problem is using transforms with browserify? https://github.com/meteor/react-packages/blob/master/examples/material-ui-leaderboard/client/lib/app.browserify.options.json

[2015-07-17 09:28] mrphu3074 commented on #2
Oh man, thankyou so much. I will try

[2015-07-17 15:03] mrphu3074 commented on #2
@KristerV  thanks for your solution.
I updated my package and it supported `meteor add react`

[2015-07-17 15:05] mrphu3074 commented on #2
But in this time, i export namespaces: mui, MUI and injectTapEventPlugin
It means:
- You have to use injectTapEventPlugin() manually
- mui and MUI are the same.

[2015-07-18 07:06] KristerV commented on #2
wow, you've done it already? let me try that out..

[2015-07-18 07:20] KristerV commented on #2
holy shit it works.. you are amazing :O

[2015-07-18 08:01] KristerV commented on #2
yep. tested is some more. Thanks!

[2015-07-18 08:01] #2 closed, assigned to nobody

[2015-07-18 17:37] stubailo opened #5 "Make package run on client and server for server-side rendering"
I think all it would take is removing the client restriction from your `package.js`.

[2015-07-18 17:38] coniel opened #6 "Server side rendering"
I'm planning on using SSR (see here: https://kadira.io/blog/meteor-ssr-support-using-flow-router-and-react/).

However, this package the required stuff (react package, exports) are only for client side. Would it be possible to modify it so that things are also available on the server?

[2015-07-18 17:38] stubailo commented on #6
Duplicate of #5

I think the time diff was like, 10 seconds?

[2015-07-18 17:39] stubailo commented on #5
You might also need to do something to make the tap event plugin run on the client only, but I'm not sure - maybe it will be OK.

[2015-07-18 17:41] coniel commented on #6
Oh wow haha, I'll close this one then.

[2015-07-18 17:41] #6 closed, assigned to nobody

[2015-07-18 17:42] stubailo commented on #2
For people who come along later, here is the page in the guide about this: http://react-in-meteor.readthedocs.org/en/latest/client-npm/

There are some crazy hacks to avoid React duplication :P

[2015-07-18 18:59] KristerV commented on #2
boy, @stubailo you are thorough :) looking forward to the crowdcast. ([link](https://www.crowdcast.io/e/aliceyu1) if anyone is interested)

[2015-07-19 03:20] mrphu3074 commented on #5
I think removing the client restriction is easy. It will make react components available on server side. But i will do that if you have good solution about ReactJs server side rendering .

[2015-07-19 05:19] stubailo commented on #5
I think allowing this to run on the server comes first; then people like @arunoda can work on SSR. It's exactly zero cost for the package.

[2015-07-19 05:46] mrphu3074 commented on #5
@stubailo yeah, i like packages of @arunoda.
let's me try!

[2015-07-19 06:48] mrphu3074 commented on #5
I tried, we can use flow-router-ssr to render MUI in server side. But the problem need to solve is make sure touchTap event work.

[2015-07-21 11:05] monocursive opened #7 "Conflict with jsx packages"
Hi, I get this error when starting my app :

[code]

My packages file is :

[code]

My versions file:

[code]

Any idea on this?

Thanks

[2015-07-21 11:18] monocursive commented on #7
This has been solved by running meteor update.

PEBKAC.

Thanks for the package, everything is working as expected.

[2015-07-21 11:18] #7 closed, assigned to nobody

[2015-07-26 02:49] Valbrand opened #8 "Production mode"
Hello.

Whenever I add izzilab:material-ui to my project, I keep getting an error while in production mode (it doesn't manifest itself if I run the project in debug mode). It seems to look for window.React.require before React is put in the global context, as I get a "window.React is undefined" TypeError message in Firebug.

[2015-07-26 03:21] mrphu3074 commented on #8
@Valbrand is this solved? I trying to get your error.

[2015-07-26 03:23] Valbrand commented on #8
I am not sure. I still can't get it to work in production mode, though I am not so sure if it's actually my fault or not.

[2015-07-26 03:26] Valbrand commented on #8
Okay, here's the thing: I've just created a clean Meteor project, and inside of it, I created a local package which uses React. Fine, it works both in production and debug mode. However, if I add this package, the problem arises. It exists.

[2015-07-26 03:29] mrphu3074 commented on #8
oh, maybe conflicted between react runtime in mui package and your react runtime. Can you give me the react package name in your local packages?

[2015-07-26 03:34] Valbrand commented on #8
This test project I created is structured as follows:
In the app itself, the only package besides meteor-platform that's installed is the local package, `test-ui`. Inside `test-ui`'s `package.js`, I call `api.use` for `templating`, `react`, and `izzilab:material-ui@0.1.0`, in this order.

[2015-07-26 04:57] mrphu3074 commented on #8
@Valbrand i found your problem. You're right! . This error cause by react package official hide `window.React` in production mode. So `externalify` throw error undefined. I solved and pushed new code in new branch. Please check it again manually.
1. create new project
2. cd /pathto/project
3. mkdir packages
4. cd packages
   `git clone -b missing-react-production https://github.com/mrphu3074/react

[2015-07-26 12:09] Valbrand commented on #8
Just tested it, and it worked. Thank you, mate.

[2015-07-26 12:27] mrphu3074 commented on #8
@Valbrand i merged the code and update package on atmospherejs. You can close this issue. Thankyou so much .

[2015-07-26 12:42] Valbrand commented on #8
Problem solved.

[2015-07-26 12:42] #8 closed, assigned to nobody

[2015-08-01 18:03] ShockiTV commented on #5
I tried it and it seems to work when used this way https://github.com/ShockiTV/flow-ssr-mui-example

[2015-08-02 04:12] mrphu3074 commented on #5
thanks @ShockiTV , let's me try

[2015-08-02 11:57] mrphu3074 commented on #5
@ShockiTV its work, but only development mode. i'm investigating it.

[2015-08-07 15:28] flake opened #10 "IconMenu not rendering MenuItems"
because some issues from npm show that new menuitem should be used from /material-ui/lib/menus/menu-item [#1346](https://github.com/callemall/material-ui/issues/1346)

IconMenu is empty. not showing MenuItems.

[2015-08-07 17:15] gdub01 commented on #5
I have the same issue with SSR when deploying. It works locally... but trying to run it on whatever.meteor.com makes it crash.

I did this to package.js to make it run on the client and server:

Package.onUse(function(api){

[code]

});

My logs in production start with:

[Wed Aug 05 2015 23:42:12 GMT+0000 (UTC)] WARNING TypeError: Cannot read
property 'require' of undefined
at Object.<anonymous>

[2015-08-09 09:06] mrphu3074 commented on #5
[code]

we can't use this way. Server side don't know `require`. We must use `Npm.require`. Maybe need to create new file for serverside

[2015-08-11 07:54] rozzzly commented on #5
Hey guys read this https://github.com/meteor/react-packages/issues/83 It's not a sever/client issue. It's the new version of the react package. There's a one line fix. fml I spent so long trying to figure out something fixed one line. :sob:

[2015-08-11 07:56] mrphu3074 commented on #5
thanks @rozzzly . You're right. Maybe need find out react's stable version

[2015-08-12 22:37] particle4dev opened #11 "Hi :)"
Hi !
It's great to see that someone in the VietNam is using Meteor. I have been used Meteor more than year and love it ! Do you have a Skype account so we can talk and share experience of Meteor :)
Great package by the way !

Le Hoang,

[2015-08-13 02:29] mrphu3074 commented on #11
Wow. glad to know you. my account: mrphu3074

[2015-08-14 15:25] ShockiTV commented on #5
After merging that rozzzly's PR it seems to run quite OK on meteor test environment http://flow-ssr-mui-example.meteor.com

[2015-08-22 06:32] mrphu3074 commented on #5
@ShockiTV thank you a lot, i going to finish this package with support ssr.

[2015-08-23 10:59] mrphu3074 commented on #10
[code]

They working on Menu's components. So i fixed this issue in ver 0.1.5
Please use

[code]

From version 0.1.5, my package supported SSR :dancer:
I created a demo

http://material-ui-ssr.meteor.com

[2015-08-23 11:06] #10 closed, assigned to nobody

[2015-08-23 11:07] #11 closed, assigned to nobody

[2015-08-23 11:09] mrphu3074 commented on #5
Hi all,
My package supported SSR with @ShockiTV's help.
I created a demo with minimum example.
http://material-ui-ssr.meteor.com/
and source: https://github.com/mrphu3074/react-material-ui-ssr-examples

[2015-08-23 11:10] mrphu3074 commented on #5
One more thing, about Menu's components

[code]

They working on Menu's components. So i fixed this issue in ver 0.1.5
Please use

[code]

[2015-08-23 19:07] flake commented on #10
@mrphu3074 Thank you :)

[2015-08-31 02:41] #5 closed, assigned to nobody

[2015-09-10 14:02] mbrookes opened #13 "Version confusion"
Hi Phu,

According to Atmosphere, the current version of this package is 0.1.6 as of Sep 8th, but looking at this repo, the current version is 0.1.5 as of Aug 23rd, and uses MUI 0.10.4.

Any idea what's going on?

Thanks!
Matt.

[2015-09-10 15:45] mrphu3074 commented on #13
@mbrookes my mistake. I forgot commit new code to github. Only publish to Atmosphere.

[2015-09-10 15:50] mbrookes commented on #13
Ah, I see. That makes sense. So what version of MUI is 0.1.6 using?

Also, the readme says "This package ported from Material-UI (a React Component) using the official Meteor React package." but also says "The code is also not updated to use the official react package yet. A new version will follow soon.". Which is it? :smile:

[2015-09-10 15:52] mrphu3074 commented on #13
i pushed new code. i using MUI 0.11.0 . You should use new version. They fixed alot of stuff
https://github.com/callemall/material-ui/blob/master/CHANGELOG.md#0110

[2015-09-10 16:49] mbrookes commented on #13
Great, although the bottom of README still says "Note: This is an old demo with bugs and performance problems. The code is also not updated to use the official react package yet. A new version will follow soon."

Anyway, answers my question, so closing. Thanks for maintaining this!

[2015-09-10 16:49] #13 closed, assigned to nobody

[2015-09-29 10:34] henyana opened #14 "Why I'v got "Uncaught SyntaxError: Unexpected token <""
Hi there,

I've just use this package which is great to meteor-react, but now I've an error message when render this:

[code]

Get error js in console:

[code]

I'm using:

[code]

Can somebody fixed this?

[2015-09-29 10:43] mrphu3074 commented on #14
@henyana `iconElementRight` need pass an element, and you passed 3 elements. You need wrap them into one element.

[code]

[2015-09-29 15:28] henyana commented on #14
Hi @mrphu3074, yes you are right, sorry I'm newbie with reactjs.
Anyway, thank you for the answer.

Just one more question, why all icon element are not visible? I see the class rendered on the element, but can't find the css file.

[2015-09-29 15:32] mrphu3074 commented on #14
yes, all icon are sample, not build in material-ui, you can install `ixdi:material-design-iconic-font` or `fortawesome:fontawesome` and use it like `<FontIcon className="fa fa-home" />`

[2015-09-29 15:35] henyana commented on #14
Ok, thanks for the fast answer. You can just close this issue.

[2015-09-29 15:36] mrphu3074 commented on #14
aha, thanks @henyana

[2015-09-29 15:36] #14 closed, assigned to nobody

[2015-09-29 16:02] mbrookes opened #15 "Material-UI 12.1"
is released: https://www.npmjs.com/package/material-ui

Could you update please? Thanks!

[2015-09-29 16:05] mrphu3074 commented on #15
@mbrookes of course i can. As you know, MUI have breaking changes since 0.12.x, so i need double check it before update to new ver

[2015-09-29 16:13] mbrookes commented on #15
Thanks for the quick response. Fingers crossed there are no major problems...

[2015-09-29 16:14] henyana commented on #15
+1

[2015-09-29 16:55] mbrookes commented on #15
Actually, for me, the fix I need is in 0.11.1 (calendar), so if 12.x does prove problematic and is going to take a bit longer, 11.1 would be good. :ok_hand:

[2015-09-29 18:56] mbrookes commented on #15
@mrphu3074 - I got MUI 0.12.1 working (via NPM etc), but as you hinted, if you update the package, it will break peoples apps. I guess either a note after `meteor update` to instruct users to change their code, or create a new package for 0.12.x

Even though 0.12.x has a default theme, there are React warnings unless it's passed as context. In a nutshell, after upgrading to MUI 0.12.x you have to:

[2015-09-29 19:06] mrphu3074 commented on #15
@mbrookes i can make mui 0.12.1 work well with meteor, but i having trouble with `react-tap-event-plugin` and meteor  cannot install this module because of `peerDependencies`

[code]

do you have any idea?

[2015-09-29 19:44] mbrookes commented on #15
I think the problem is React 0.14.0 which pulls in an incompatible version of `react-tap-event-plugin` to the one MUI requires.

I'm using React 0.13.3 via the official meteor package.

 I didn't have to add  to `react-tap-event-plugin` to packages.json, but I did have to require it in `lib/app.browserify.js:

[code]

[2015-09-30 00:50] rkstar commented on #15
@mrphu3074 --> @mbrookes is right... material-ui is getting `react-tap-event-plugin` so you do not have to include it in your `packages.json` file.

i also found a couple of other interesting things here.  in [this issue](https://github.com/meteor/react-packages/issues/111) on the [react-packages](https://github.com/meteor/react-packages) repo, i referenced my `app.browserify.options.json` file an

[2015-09-30 03:30] mrphu3074 commented on #15
hi all, i completed upgrade mui to 0.12.1 without errors and compatible with meteor > 1.2.x . This is my way:
- remove `react-tap-event-plugin` because it duplicated. MUI 0.12 installed it
- update `cosmos:browserify` to 0.7.0 to support meteor > 1.2

Using `ThemeManager` in new version

[code]

many thanks all and @rkstar

[2015-09-30 08:28] mbrookes commented on #15
The issue now isn't so much MUI compatibility with Meteor - that we know works, but rather backwards compatibility of this package with client code using the old syntax. I can't look at the source (on mobile), but does meteor let packages emit warnings on update?

[2015-09-30 08:35] mrphu3074 commented on #15
yes, meteor will notice to update. There is no new syntax in new mui version, it only change the way control theme.

[2015-09-30 09:29] mbrookes commented on #15
Except that if you don't update your client code, it will break. That's new syntax in my book. But that's just semantics. :smile:

Anyway, glad to hear it issues a warning / instructions on how to update the Theme code. Nice work!

[2015-09-30 09:29] #15 closed, assigned to nobody

[2015-09-30 10:25] vraptor75011 opened #16 "Error after meteor update 1.2.0.2 and update MUI package to 0.1.7"
Seems there is a problem with updating cosmos:browserify to 0.7, i get this message at startup

 While processing files with cosmos:browserify (for target web.browser):
   packages/izzilab:material-ui/mui.browserify.js: Arguments to path.resolve must be strings

Any idea ?

[2015-09-30 10:42] mrphu3074 commented on #16
i can't re-procedure your error. Can you share your log?

[2015-09-30 11:48] vraptor75011 commented on #16
Meteor update solved the issue.
Thks

[2015-09-30 11:48] #16 closed, assigned to nobody

[2015-10-01 04:35] johannchen opened #17 "browserify issue"
Hi,  I got this error prevented meteor startup
"While processing files with cosmos:browserify (for target os.linux.x86_64):
   packages/izzilab:material-ui/mui.browserify.js: Arguments to path.resolve
   must be strings"

It has no problem before I ran the meteor update to 1.2.0.2.
cosmos:browserify is at version 0.7.4

[2015-10-01 04:41] mrphu3074 commented on #17
@johannchen , this is my mistake, cosmos:browserify >= 7.0 is for meteor >= 1.2. And cosmos:browserify 0.7 using isobuild 2 (new build tool of meteor 1.2) , so your meteor app will get that error. I need to create 2 versions:
- One ver support meteor < 1.2
- One else for >= 1.2

[2015-10-01 04:56] johannchen commented on #17
Thanks for your quick response!  Hope to see one for >= 1.2 ready soon =)

[2015-10-01 06:10] mrphu3074 commented on #17
@johannchen i'm sorry my english not good and you may wrong understand. But just ask, did you update material-ui to latest version (0.1.7), if not, please run `meteor update izzilab:material-ui` or `meteor update izzilab:material-ui@0.1.7`

[2015-10-01 06:19] johannchen commented on #17
Yes, it's at the latest version (0.1.7).  The error remains the same.

[2015-10-01 10:46] vraptor75011 commented on #17
Copying the package to your app/packages solves this issue. I don't know why ...

[2015-10-01 15:50] johannchen commented on #17
The issue is also solved after I update cosmos:browserify to version 0.8

[2015-10-01 15:50] #17 closed, assigned to nobody

[2015-10-02 08:15] mrphu3074 commented on #17
thanks @johannchen , they fixed that bug in version 0.8

`Note: For Meteor 1.2 you must use comsos:browserify 0.8.0+`

many thanks, i will update my package

[2015-10-13 21:00] kysonic opened #18 "Datepicker works slowly"
When i  updated this package to 0.1.8 version MUI DatePicker stopped to work fine. Now it works slowly with many lags. (I use Chrome 45.0.2454.101 m, i've tested it in FF - everything is working normaly)

[2015-10-13 21:59] #18 closed, assigned to nobody

[2015-10-14 08:29] mrphu3074 commented on #18
@kysonic can you share your solution or how you solve it?

[2015-10-14 18:50] kysonic commented on #18
@mrphu3074 Sorry, it was my fault, never mind...

[2015-10-15 03:05] kihiuho opened #19 "Add side-nav"
Can you add support to the new component side-nav to the package?
Or can I add this module in my local package? Thz

https://github.com/yongxu/material-ui/tree/master/src/side-nav

[2015-10-15 13:06] Timonzimm opened #20 "Datepicker not rendering properly"
When trying to use the DatePicker component the example in the README, it looks like it's not rendering properly.

![Test](https://cloud.githubusercontent.com/assets/5808319/10514474/2b8b1f9a-734e-11e5-9c3b-5b030d563bea.png)

[2015-10-16 02:42] mrphu3074 commented on #20
@Timonzimm i have never seen it, if DatePicker error, it can't render . Can you share some code ?

[2015-10-16 02:43] mrphu3074 commented on #19
@kihiuhiu i only wrap Material-ui module, not modify it. So i can't add unofficial module into my package. So sorry about that.

[2015-10-16 02:43] #19 closed, assigned to nobody

[2015-10-16 07:18] Timonzimm commented on #20
I think this might be due to ReactLayout package (https://github.com/kadirahq/meteor-react-layout) which creates a new body tag when the DatePicker in instancid.

[2015-10-16 08:14] #20 closed, assigned to nobody

[2015-10-16 15:30] dcjohnston opened #21 "ThemeManager.getMuiTheme is not a function."
In the getting started we have this snippet.

[code]

I have replicated exactly but am getting the error above. Is this no longer valid?

[2015-10-20 20:54] jhuenges commented on #21
I copied the package and removed the version restriction of react and updated to the latest material ui version.

[2015-10-21 01:27] dcjohnston commented on #21
Great! I think the recent Meteor update to 1.2 has had a lot of package maintainer's hustling to update as well, thanks for being so responsive!

[2015-10-21 01:27] #21 closed, assigned to nobody

[2015-10-21 01:46] mrphu3074 commented on #21
@dcjohnston alot of issues relate to meteor, especially installing npm module, it's so bad. thanks for your issue

[2015-10-23 17:47] tapas4java opened #22 "Can you please update it to material-Ui 0.13?"
Pls update

[2015-10-24 12:17] mrphu3074 commented on #22
hi @tapas4java,

MUI 0.13.0 using react 0.14 but Meteor react package does not upgrade. Facebook separated react to 2 things: react and react-dom, so i can't upgrade mui for now.

sorry about that.

[2015-10-24 12:17] #22 closed, assigned to nobody

[2015-10-25 03:15] tapas4java opened #23 "ThemeManager.getMuiTheme is not a function"
Getting below error when trying to run example code given:

`ThemeManager.getMuiTheme is not a function`

[2015-10-25 04:12] mrphu3074 commented on #23
@tapas4java sorry about my question: did you import ThemeManager from MUI.Styles?
like below

[code]

[2015-10-25 06:18] tapas4java commented on #23
Yes @mrphu3074 I am using the same code available on README doc with latest Meteor. Here is the code for your reference

[code]

[2015-10-28 09:59] pgorecki opened #24 "How to add icons?"
I'm trying to add NavigationClose icon to a toolbar. Here is the code. How can I import NavigationClose component?

[code]

[2015-10-28 10:06] mrphu3074 commented on #24
in Meteor, we define component without `var` or `let`, your component will be global and no need to import.

[2015-10-28 10:43] pgorecki commented on #24
Maybe I didn't make myself clear enough. Your package dependes on Npm material-ui package from https://github.com/callemall/material-ui repository. In this repo `NavigationClose` component is defined in the file `material-ui/src/svg-icons/navigation/close.jsx`. Is there any way I can import this component to my project?  I'm simply trying to display the second AppBar example from http://material-u

[2015-10-31 15:37] Boityakov opened #25 "Warning: require('react/addons') is deprecated."
Hello, console display me a:
"Warning: require('react/addons') is deprecated. Access using require('react-addons-{addon}') instead."

My meteor list
angular                               1.0.3  Everything you need to use Angul...
angular:angular-material              0.11.4  Google Material design written ...
angularui:angular-ui-router           0.2.15  angular-ui-router (official): F...
blaze-ht

[2015-11-01 03:51] mrphu3074 commented on #25
@Maiti react didn't upgrade to 0.14.x when i upgrade my package. Now `izzilab:material-ui@0.1.9` using react and react-dom 0.14.x and mui to 0.13.1

Please upgrade and check it again. Looking forward your reply soon.

[2015-11-01 04:18] mrphu3074 commented on #24
thanks @pgorecki about your issue. This is my mistake because i thought we can use FontIcon with external icon libs like Font-Awesome or Material font like this `dapearce:material-icons`. So i didn't import svg-icons.

In new version 0.2.0, i upgraded MUI 0.13.1 , react and react-dom to 0.14.1 and imported SvgIcons.
You can use `MUI.Libs.SvgIcons.[ICON component]`

[code]

 thank you

[2015-11-01 09:35] Boityakov commented on #25
Warning still exists

meteor list
angular                               1.0.3  Everything you need to use Angul...
angular:angular-material              0.11.4  Google Material design written ...
angularui:angular-ui-router           0.2.15  angular-ui-router (official): F...
blaze-html-templates                  1.0.1  Compile HTML templates into reac...
izzilab:material-ui                   0.1.

[2015-11-01 09:44] mrphu3074 commented on #25
@Maiti can you give me how you can get that warning ? what components that you used ?

Because i'm not use react/addons and in module material ui only use in 2 places and they are in test files.

[2015-11-01 09:48] Boityakov commented on #25
I comment one by one packages, and remove all mui components, but nothing helped, warning is always displayed

[2015-11-01 15:11] Boityakov commented on #25
and when I click on the "... Dialog"s console displayed me
"Warning: ReactDOMComponent: Do not access .getDOMNode() of a DOM node; instead, use the node directly. This DOM node was rendered by `Dialog`."

[2015-11-04 08:42] dcsan commented on #23
I got the same error. we fixed it with:

[code]

any idea why the README is wrong?

[2015-11-04 08:50] dcsan opened #26 "which components are included?"
I was trying to add the appbar example from the main material-ui site:

http://material-ui.com/#/components/appbar

and getting various cryptic errors:

[code]

is this because some of these components are not included?
is there a list of what is working so far?

thanks!

[2015-11-04 08:52] mrphu3074 commented on #26
@dcsan can you share some code? how you use it?

[2015-11-04 08:52] dcsan commented on #26
these elements crash the UI build

[code]

[2015-11-04 08:54] dcsan commented on #26
full component is like this, I'm using it with FlowRouter so removed the `var` on MaterialApp

[code]

[2015-11-04 08:54] dcsan commented on #26
full repo is here, step09 i was walking through adding material design

https://github.com/dcsan/maodou/tree/master/app/step09-material

[2015-11-04 08:54] mrphu3074 commented on #26
You can't copy them from material-ui.com, you have to use them in meteor way.

But unfortunately, `< NavigationClose />` is one of svgIcons that i have problem when include into my package

[2015-11-04 08:57] dcsan commented on #26
got it. i'll avoid that one then!

[2015-11-04 08:59] mrphu3074 commented on #26
@dcsan sorry about alot of bugs. There are issues about porting npm module to meteor package. I got issues when meteor upgrade to 1.2.x. I hope i can  fix them in this week.

[2015-11-05 00:47] rdagger commented on #24
I'm also unable to figure out how to add an icon to the AppBar iconElementRight.  I updated izzilab:material-ui to 0.1.9.  Do I have to wait for version .2.0?
In the current version, MUI.Libs does have SvgIcons.

[2015-11-05 04:29] henyana commented on #26
+1

[2015-11-06 23:39] coniel commented on #22
The meteor react package has been updated to 0.14. Could we update to 0.13 now?

[2015-11-08 01:32] jimmiebtlr opened #27 "Use with SSR"
At the moment it doesn't appear to be exposed on the server, making it difficult to use with flow router ssr.

Can we get MUI exposed on the server?

[2015-11-09 03:35] mrphu3074 commented on #27
@jimmiebtlr i just upgraded MUI to 0.2.0 without SSR, i having trouble with `meteor` and `cosmos:browserify` since meteor 1.2.x released. I investigating the solution to support SSR

[2015-11-09 03:56] mrphu3074 commented on #27
@jimmiebtlr i just updated my package to 0.2.1 to fix SSR, please update and test your app. Looking forward your feedback soon.

[2015-11-09 04:01] mrphu3074 commented on #26
i just upgraded my package to 0.2.1:
- MUI 0.13.1
- React 0.14.1
- added svgIcons
- fixed SSR

[code]

or you can destructuring like

[code]

looking forward your feedback soon

[2015-11-09 04:02] mrphu3074 commented on #24
my package was 0.2.1 already, please update and feedback to me if any error

[2015-11-09 04:04] mrphu3074 commented on #23
@dcsan i'm not sure about your way, but this is official example,
https://github.com/callemall/material-ui/blob/master/examples/browserify-gulp-example/src/app/components/main.jsx

[2015-11-09 07:54] rdagger commented on #24
works great now.  thanks.

[2015-11-10 02:18] mrphu3074 commented on #24
good sound, thanks @rdagger

[2015-11-10 02:18] #24 closed, assigned to nobody

[2015-11-15 01:41] rdagger opened #28 "Getting latest version of Material UI"
If I want to use the latest version of Material UI before you upgrade your package, can I just change MUI_VERSION in the packages.js file?  For example change var MUI_VERSION = '0.13.1'; to var MUI_VERSION = '0.13.2';

[2015-11-15 04:31] mrphu3074 commented on #28
Basically, yes :+1:

[2015-11-20 11:20] gh-stephane-barale commented on #27
Hi @mrphu3074,
AppBar is broken with SSR due to docked option (use Overlay component) and it seems fix in 1.3.2.
https://github.com/callemall/material-ui/issues/2013

Can you upgrade MUI version please ?

[2015-11-20 12:00] mrphu3074 commented on #27
@C0r3y8  i will , it's simple. Just busy somedays.

[2015-11-20 12:26] gh-stephane-barale commented on #27
Ok thanks, no problem.

[2015-11-20 12:54] mrphu3074 commented on #27
@C0r3y8 done, now MUI is 0.13.3

[2015-11-20 15:09] mrphu3074 commented on #28
i also upgraded my package to 0.13.3. If you want to manual control, it's totally ok.

[2015-11-20 15:09] #28 closed, assigned to nobody

[2015-11-20 17:04] gh-stephane-barale commented on #27
Thanks! @mrphu3074

[2015-11-20 17:57] gh-stephane-barale commented on #27
Works fine after clearing Meteor app cache

[2015-11-21 04:24] #27 closed, assigned to nobody

[2015-11-21 09:56] flake opened #29 "SwipeableViews"
I am using Tabs with slide effect. But how do I import SwipeableViews??

SwipeableViews = require('react-swipeable-views');

Thank you

[2015-11-21 11:51] mrphu3074 commented on #29
This is a normal npm module, you can import to meteor with  package `cosmos:browserify`
Let's try
https://atmospherejs.com/cosmos/browserify

[2015-11-22 03:48] #26 closed, assigned to nobody

[2015-11-24 09:49] flake commented on #29
Thank you. I did import it using cosmos:browserify.

I am guessing the package is included with material-ui as well...

[2015-11-24 23:05] jordangarside commented on #23
After looking at this,

ThemeManager.getMuiTheme(theme) is an undefined function.
Using ThemeManager(theme) just returns the default theme, while ignoring whatever theme you have specified.
LightRawTheme is actually undefined and doesn't exist on the Styles object.

Hoping for a solution, I can't theme anything right now.

[2015-11-25 02:16] mrphu3074 commented on #23
@jordangarside can you share your code or create a test project and write some components that can't use ThemeManager

[2015-11-25 23:28] jordangarside commented on #23
Here is the [demo](https://github.com/Tesloop/marketing-site).

You can see the ThemeManger stuff [here](https://github.com/Tesloop/marketing-site/blob/master/components/layouts/DefaultLayout/DefaultLayout.import.jsx) line 87.
The theme I'd like to use is imported at the top of the file, but just does what I mentioned before.

If you look at the window variable, MUI.Styles.ThemeManager.getMuiTheme

[2015-11-26 02:26] mrphu3074 commented on #23
sorry but you're using old MUI version

[code]

You need to upgrade to latest version (0.2.2) to use MUI 0.13.3

[2015-11-28 06:37] jasokant opened #30 "Is it possible to require all mui components at once instead of individually?"

[2015-11-28 17:21] mrphu3074 commented on #30
i already import all components into one object is MUI. I have no idea to destructure them. If yes, may be `import {*} from MUI;` es6 style. i don't they support or not

[2015-11-30 02:50] #29 closed, assigned to nobody

[2015-11-30 02:50] mrphu3074 commented on #25
please update to latest version. i think it will solve your issue.

[2015-11-30 02:50] #25 closed, assigned to nobody

[2015-11-30 02:50] #23 closed, assigned to nobody

[2015-12-08 19:33] sergical opened #31 "Using SSR with Material UI (Headers)"
I get the following error `Material-UI expects the global navigator.userAgent to be defined for server-side rendering. Set this property when receiving the request headers.`

Unable to find any docs in the package regarding this issue.

[2015-12-09 03:34] mrphu3074 commented on #31
@416serg i have no idea for now. But there are the  same issues from official : https://github.com/callemall/material-ui/issues/2356

Hope to finding solution soon

[2015-12-14 20:00] nikos opened #32 "Q: How to use mixins with react-material-ui and meteor?"
In the process of adapting a react component (https://github.com/nikos/material-ui-bottomnav/blob/master/src/app/components/bottom-nav.js) to the "meteor" style, I am uncertain how to deal with mixins (concrete: StylePropable, WindowListenable)

[code]

Could you please advise?

Many Thanks in advance,
Niko

[2015-12-15 02:20] mrphu3074 commented on #32
in Meteor and with my package, you can use mixin via `MUI.Mixins`

[code]

[2015-12-15 07:35] nikos commented on #32
Thanks for your help, works like a charm

[2015-12-15 07:35] #32 closed, assigned to nobody

[2015-12-16 17:02] dcsan opened #33 "update to latest from upstream?"
I have some problems with the current version, i was wondering what is involved to update to the latest?

did you make any changes to the upstream package itself?

https://github.com/callemall/material-ui/issues/2544#issuecomment-165049496

[2015-12-19 18:15] dcsan commented on #33
I updated to 0.14.0-rc2 in my fork, seems to be working ok
its still a release candidate tho so you may want to hold off.

https://github.com/dcsan/react-material-ui/commit/0a8c3f259c1c13622ba079902f69780afde34156

[2015-12-19 18:16] dcsan opened #34 "how to use font icons"
I tried using font-icons as per the material-ui docs, but without success

http://www.material-ui.com/#/components/icons

[code]

no icon shows up.

do i need to use  `let {SvgIcons} = MUI.Libs;`  somehow?
that seems to define standalone svg icons, but not the classnames to apply an icon to a div.

[2015-12-19 18:30] dcsan commented on #34
also for the badges
http://www.material-ui.com/#/components/badge

It seems the names in that list are not defined within the MUI package (I guess this is how they are packaged upstream in material-ui itself)

[code]

![image](https://cloud.githubusercontent.com/assets/514002/11914648/0817d86c-a63b-11e5-9b64-4064557a6f11.png)

OK so this works

[code]

[2015-12-20 03:07] mrphu3074 commented on #34
@dcsan font icon in mui doc just sample, you need import font library to use it.
like Font-Awesome
`<FontIcon className="fa fa-star" />`

[2015-12-21 02:47] #30 closed, assigned to nobody

[2015-12-21 02:51] mrphu3074 commented on #33
i didn't upgrade to latest version **0.14.0-rc2** because it still be release candidate ver. I think they almost done with 0.14.0-rc2 , you can use your fork first, thanks

[2015-12-21 02:51] #34 closed, assigned to nobody

[2015-12-21 09:08] dcsan commented on #34
so you're saying the material-ui docs refer to icons that are not packaged with that project?

but you are including one set of SVG icons in your package?
I'm worried about the app getting huge if there are two big sets of font icons in it.

[2015-12-21 09:09] mrphu3074 commented on #34
There are 2 options:
- Use icons built in : use  `SvgIcons`
- Use icons external: use `FontIcon`

[2015-12-24 04:16] HenrikBechmann commented on #24
Hi, I installed 0.2 but it seemed to be from 2014. I upgraded to 0.13.4 which seems to be the most recent.

I still can't init NavigationClose successfully.

(Using Typescript)

Thanks.

[2015-12-26 18:56] rdagger commented on #33
Looks like 0.14.0 was just released with many long awaited bug fixes.

[2015-12-27 02:33] mrphu3074 commented on #33
@rdagger i upgraded to MUI 0.14.0 and react 0.14.3 . Please update. thanks for your issue

[2015-12-29 15:54] sergical opened #35 "Get a warning when using ListItem inside .map"
`Warning: Each child in an array or iterator should have a unique "key" prop. Check the render method of`ListItem`.`

[code]

[2015-12-29 17:27] mrphu3074 commented on #35
`key={skill._id}` -> this may be duplicated somewhere.
A safety way is

[code]

[2015-12-29 17:33] 416serg commented on #35
hey @mrphu3074 I am still getting the same error while using `key` which in turn is just the index, right? I think it's the matter of the `<ListItem>` itself not accepting key as a prop

[2015-12-29 17:39] mrphu3074 commented on #35
`key` is required by React not MUI. Basically `List` component is simple like this

[code]

so let's try with mock component, if it's ok , please investigate your code

[2015-12-29 17:49] sergical commented on #35
thanks, it all works now, was missing a `this.data.currentLang` in my meteor data.

[2015-12-29 17:49] #35 closed, assigned to nobody

[2015-12-29 22:17] dcsan commented on #33
thanks!

[2015-12-29 22:17] #33 closed, assigned to nobody

[2015-12-29 22:20] dcsan opened #36 "loading selectively?"
does this package include all components with each build, even if not used?

or only the ones that are somehow defined in a

[code]

block?

I'm having trouble with my code reload taking ages and wonder if I could speed up rebuilds by trimming some components out.
https://forums.meteor.com/t/tips-how-to-keep-rebuild-times-fast/15562

[2015-12-29 23:05] priyankpat opened #37 "Failed to validate checksum"
Hi, I am using meteor with server-sided rendering. I just came across this package. Upon adding FlatButton or any component for that matter, I get the following error:

[2015-12-30 03:04] mrphu3074 commented on #36
There are 2 kind of packages in meteor:
- Local package (rebuild when code change)
- Smart/ Global package (built before publish to http://atmospherejs.com and no build again)

So i think you need to find another reason. But i realize building slower since Meteor 1.2.x

[2015-12-30 03:51] mrphu3074 commented on #37
@PR1YANKPAT3L  thanks for your issue, but i have no idea. The reason is we render 2 times in both sides, so they are quite difference about inline-styles like

[code]

because user agents are difference. I'm finding solution too

[2015-12-30 18:46] pmwisdom opened #38 "SelectableContainerEnhance is undefined"
As of 2.4 I cant access SelectableContainerEnhance. I believe it has something to do with the new version of browserify.

Repro:

[code]

Error : SelectableContainerEnhance is undefined.

This worked perfectly before 2.4.

[2015-12-31 23:02] cbrake opened #39 "How to use a custom Icon"
Hi,

Trying to figure out a way to use a custom icon in izzilab:material-ui.  I have the custom icon in a SVG file.  Does it need processed into a sprite before I can use it in:

[code]

If so, what is the best way to make this happen?  Or, can I simply put the SVG in the public dir, and reference it directly?

Thanks,
Cliff

[2016-01-12 19:17] evelant opened #40 "TimePicker component does not work"
Including the timepicker component anywhere results in this error:

[code]

[2016-01-25 20:44] guns2410 commented on #38
+1 have the same issue

[2016-01-26 18:17] gh-stephane-barale commented on #38
+1

[2016-01-27 02:58] mrphu3074 commented on #38
plz upgrade to latest version and try:

[code]

[2016-01-27 03:01] mrphu3074 commented on #38
it seems they changed a little bit. :dancers:

[2016-01-27 03:04] mrphu3074 commented on #40
i couldn't re-procedure that bug. Let try upgrade to latest version and try

[code]

[2016-01-28 09:40] lucnat opened #41 ""Building for web.browser" takes forever"
When I add the package on a clean project, the server takes forever to load. Any suggestions?

[2016-01-28 18:14] sarasate commented on #41
same for me

[2016-01-29 02:48] mrphu3074 commented on #41
can you post here release version and `izzilab:material-ui` version ?

[2016-01-29 16:37] pmwisdom commented on #38
Yep that worked like a charm. Thanks!

[2016-01-29 16:37] #38 closed, assigned to nobody

[2016-01-30 02:50] beverlycodes opened #42 "Update react-tap-event-plugin?"
This appears to be using a very old version of react-tap-event-plugin (0.2.1).  Is there any chance that could get updated, possibly at the same time as updating to material-ui 0.14.3?

[2016-01-30 03:48] mrphu3074 commented on #42
@ryanfields I just upgraded to 0.14.3 and react-tap-event-plugin 0.2.2.  :) i'm using meteor 1.3 and use MUI from npm directly. So i think this package deprecate soon.

[2016-01-30 03:49] #40 closed, assigned to nobody

[2016-01-30 03:52] mrphu3074 commented on #39
Please read this document if you use custom `SvgIcon`.
http://www.material-ui.com/#/components/svg-icon

[code]

[2016-01-30 03:55] #37 closed, assigned to nobody

[2016-01-30 15:05] alphashuro commented on #41
same problem here, version 0.2.5/6

[2016-01-30 16:09] cbrake commented on #39
Thanks!

[2016-01-30 16:09] #39 closed, assigned to nobody

[2016-02-02 19:02] pmwisdom opened #43 "License"
I was wondering why you were using the GNU V2 license. Specifically because I have heard that iOS app store has a problem with source code with GNU licensing in your app.

[2016-02-03 00:56] benan789 opened #44 "Toggle is not working"
Nothing happens on click.

[2016-02-04 20:57] #44 closed, assigned to nobody

[2016-02-05 06:33] srtucker22 commented on #41
had the same problem, but incrementally upgrading from 0.2.3 to 4 to 5 to 6 somehow did the trick -- although the build on 0.2.5 was painfully slow. not sure what's causing the issue but if I had to take a wild assed guess, it could have something to do with the major file changes/sizes in material-ui from 0.13 to 0.14

[2016-02-07 11:46] lsunsi opened #45 "Package flagged in Atmosphere?"
why is this package flagged?
is it not working or something?

[2016-02-10 20:16] FelipeRosa commented on #45
+1

[2016-02-19 13:17] jonapoirier commented on #41
same for me, any hint ?
(incrementally upgrading didn't do the trick, still hanging...)

UPDATE :downgrading to 0.2.4 is ok

[2016-02-25 09:42] ldong commented on #45
Currently, [mrphu3074/react-material-ui](https://github.com/mrphu3074/react-material-ui/) does not work properly on Meteor 1.2.1 with the following packages

[code]

At least, it does not for me.

[2016-03-01 08:01] thearabbit commented on #45
+1

[2016-03-07 16:05] tahaykNSM commented on #41
I have the same problem.
I m using :
 -meteor 1.2.1
 -react 0.14.3
 -izzulab:material-ui 0.2.6

[2016-03-10 06:07] rnarayan opened #46 "Double installation of react in Meteor 1.3"
I am using Meteor 1.3 and its suggested "imports" folder structure to import only the modules that are needed. I am using the npm install of react in the project. For material ui, I noticed that if I install izzilab:material-ui package, it installs another copy of react. Is there a way to avoid that? Thanks.

[2016-03-10 06:41] mrphu3074 commented on #46
my package deprecated in meteor 1.3. Please use MUI official `npm install material-ui`

[2016-03-10 06:48] rnarayan commented on #46
Thanks.

[2016-03-10 06:48] #46 closed, assigned to nobody

[2016-03-15 07:48] khalidadil opened #47 "Fails on a fresh build of meteor 1.3 beta 16"
Gives the following error:

[code]

[2016-03-15 08:06] mrphu3074 commented on #47
my package deprecated in meteor 1.3. Please use MUI official npm install material-ui

[2016-03-16 07:47] khalidadil commented on #47
Sounds good - thanks for the help! For anyone that wants to read more about it:
https://www.npmjs.com/package/material-ui

[2016-03-16 07:47] #47 closed, assigned to nobody

[2016-03-23 10:27] Nor145 commented on #40
Same error

[code]

[2016-05-07 00:50] Davy1992 commented on #34
In material-ui **0.15.0** I can't get FontIcon to work, I followed the docs but when I do this:
`<MenuItem leftIcon={<FontIcon className="material-icons">settings</FontIcon>}>Settings</MenuItem>`

I don't get the icon but the text `settings` instead.

Please help!

[2016-06-13 16:05] markshust commented on #31
This can probably be closed, readme at:
http://www.material-ui.com/#/get-started/server-rendering

setting userAgent to false if no prefixes needed, or safari line if needed, fixes this

[2016-06-14 10:05] mrphu3074 commented on #31
thanks. but this package dedicated. we use npm module for now

[2016-06-14 10:05] #31 closed, assigned to nobody

[2016-09-12 20:07] markdawson opened #48 "TypeError: Cannot read property 'displayName' of undefined"
On my 1.4 Meteor app, after running the following installations:

`meteor add react`
`meteor add izzilab:material-ui`

I am getting this error when I try to launch it with `meteor`:

[code]

I am working on a completely clean app with nothing else installed. Any potential workarounds?

[2016-11-11 16:10] af6140 commented on #48
Got same error.

[2016-11-29 09:49] msyahidin commented on #48
got this error too today, are you still support this package?

[2016-12-06 20:12] af6140 commented on #48
Was able to work it out, does not know what exactly I did.

[2016-12-23 15:18] MiceBishop commented on #48
I got the same error, pls help ???

[2017-01-18 10:39] S7caapp commented on #48
Got the same error, but with other Meteor installations in a tutorial. Any solutions?
https://www.twilio.com/blog/2015/07/building-a-group-messaging-app-with-meteor-mongodb-and-twilio.html

[2017-01-18 11:56] msyahidin commented on #48
You can try my "boilerplate" or just copy my package json and check meteor version. https://github.com/msyahidin/meteor-react-material

[2017-02-14 10:50] trancehime commented on #48
Experiencing the same error after I updated from version 1.2.1 to 1.4.2.6; I had already rewritten my React code to extend React.Component instead of React.createClass, I have already attempted to refactor the code to use proper imports, but it won't even build properly thanks to this. Not entirely sure what the cause is either.

[2017-02-14 11:24] mrphu3074 commented on #48
I stopped maintain this package long time ago. Sorry about my moving. I will try to fix this problem.

[2017-09-20 20:52] oiricaud commented on #39
What if you are trying to use a custom svg? For example a non-material ui icon. What is the argument of the path? Is it the <path d="the path to the svg file?" />